<div class="loader" id="loader">
  <div class="loader__inner">
    <div class="loader__line">
      <span class="loader__word loader__word--hi">H<span class="loader__idot">i</span></span>
    </div>
    <div class="loader__line">
      <span class="loader__word loader__word--iam">This is</span>
    </div>
    <div class="loader__line">
      <span class="loader__word loader__word--name">Raman Mend<span class="loader__idot">i</span>ratta</span>
    </div>
  </div>
  <div class="loader__dots">
    <div class="loader__dot loader__dot--1"></div>
    <div class="loader__dot loader__dot--2"></div>
  </div>
</div>
